body {
  margin: 70px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
App {
  background-color: blue;
}
#root{
  /* text-align: center; */
  /* margin: 120px; */
  /* background-color: lightskyblue; */
  background: url('../src/static/scenic-view-of-mountains-during-dawn-1261728.jpg') no-repeat center fixed; 
  /* background-repeat: no-repeat;
  background-size: auto; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}